body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../bg.jpg);
    background-position: center;
    overflow-x: hidden;
    position: relative;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../jmg/banner.jpg);
    background-position: center;
    overflow-x: hidden;
    position: relative;
}

#menu-left {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#menu-left h3 {
    color: #fff;
    background: #0080FF;
    /*border-radius: 80%;*/
}

#menu-left li {
    background: #2EFE2E;
    margin-top: -7px;
    /*border-radius: 80%;*/
}

#menu-left li:hover {
    background: #00FFFF;
}

#menu-left li a:hover {
    color: #ffffff;
}

#right::-webkit-scrollbar {
    display: none;
}

#re-menu {
    display: none;
    color: #fff;
}

.navbar.navbar-expand-sm.bg-warning ul li {
    margin-left: 20px;
}

.navbar.navbar-expand-sm.bg-warning ul li a:hover {
    text-decoration: none;
}

#content {
    padding-top: 20px;
}

.box:nth-child(even) {
    border-top: 7px solid #00F5FF;
    margin-right: 12px;
}

.box:nth-child(odd) {
    border-top: 7px solid rgb(34, 0, 228);
}

.box {
    margin: 3px;
    float: left;
    width: 200px;
    text-align: center;
    background: #fff;
}

.box a {
    text-decoration: none;
}

.box img {
    width: 200px;
    height: 200px;
}

.box:hover {
    transform: scale(1.1);
}

.pname {
    font: bold 14px arial;
    color: #227293;
    margin-top: 5px;
}
.pprice {
    font: bold 12px arial;
    color: #659db4;
}

.action {
    font: italic bold 10px arial;
    margin-right: 30px;
    margin-bottom: 10px;
    color: #f96;
    text-align: right;
}

.action a {
    color: orangered;
}

#foodter {
    width: 1050px;
    height: 50px;
    clear: both;
    background: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 50px;
    color: red;
}

p {
    font-size: 15px;
}


/*===========Chi Tiết Sản Phẩm==============*/

#chitietsp {
    padding: 10px 10px 10px 10px;
    min-height: 220px;
    height: 524px;
    background-color: #fff;
}

#chitietleft {
    float: left;
    margin-bottom: 10px;
}

#chitietleft img {
    width: 400px;
    height: 300px;
}

#chitietright {
    float: right;
    width: 300px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#mota {
    clear: both;
    font-style: italic;
    font-size: 12px;
}

.label {
    width: 100px;
    text-align: right;
    font-size: 13px;
    display: inline-block;
    margin-right: 50px;
    color: #b2b1b1;
}

.data {
    font-size: 14px;
    font-weight: bold;
    color: #0099ff;
}

.productname {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #f93;
}

.factory {
    font-size: 16px;
    font-weight: bold;
    color: #3c6;
}

.giohang {
    text-align: center;
    margin-top: 20px;
    margin-right: -50px;
}

#nav_over {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 8;
    display: none;
}

.nav-mobie {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform linear 0.2s;
    z-index: 10;
}

#navbar-sm {
    margin-top: 20px;
}

#nav-item-sm {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 8px 0;
    font-size: 1.4rem;
}

.nav-mobile-close {
    color: #333;
    font-size: 1.4rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

#uer{

}

@media (max-width: 1024px) {
    #re-menu {
        display: block;
        cursor: pointer;
    }
    #navbar {
        display: none;
    }
    #title{
        display: none;
    }
}
